{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "plugins": ["prettier-plugin-tailwindcss"]
}
